.milk {
    background-color: bisque;

}
.milkbody {
    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.chakalaka {
    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.fish {
    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.Recipe {
    background-color: bisque;
}
.fishhead {
    background-color: bisque;
}