.milk {
    background-color: brown;
    padding: 8px;
    color:white

}
.alter {
    padding: 24px;
}
.headingtart {
    padding: 8px;
    background-color: white;
    margin-right: auto;
}
#tartgredients {
    padding: 8px;
    text-align: left;

}
.milkbody {
    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.chakalaka {

    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.fish {
    text-align: center;
    color: brown;
    font-family: sans-serif, "Times New Roman", Arial;
}

.Recipe {
    background-color: brown;
    color: white;
    padding: 8px;
}
#chakgredients {
    text-align: left;
    padding: 8px;
    margin-right: auto;

}
.headingchak {
    padding: 8px
}
.chakimg {
    padding: 24px;
}
.fishhead {
    background-color: brown;
    color: white;
    padding: 8px;
}
.fishimg {
    padding:24px;
}
.headingfish {
    padding: 8px;
}
#fishgredients {
    text-align: left;
    padding: 8px;
    margin-right: auto;
}