.Heading {
    text-align: center;
    background-color: whitesmoke;
    color: red;
    font-family: "Times New Roman", "DejaVu sans", sans-serif;
    padding: 12px;
    
}


#List {
    text-align: center;
    padding: 30px;
    
    
}

.body {
    text-align: center;
    background-color: whitesmoke;
    padding: 24px;

}

